[submodule "KARM"]
	path = KARM
	url = https://github.com/TDteach/K-ARM_Backdoor_Optimization.git
[submodule "ANP"]
	path = ANP
	url = https://github.com/TDteach/ANP_backdoor.git
[submodule "ABL"]
	path = ABL
	url = https://github.com/TDteach/ABL.git
[submodule "TND"]
	path = TND
	url = https://github.com/TDteach/TrojanNetDetector.git
[submodule "Spectre"]
	path = Spectre
	url = https://github.com/TDteach/spectre-defense.git
